services:
  catalog.api:
    image: catalog.api:latest
    build:
      context: ../../
      dockerfile: services/catalog/Catalog.API/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - catalogdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DatabaseSettings__ConnectionString=mongodb://catalogdb:27017?readPreference=primary&ssl=false
      - DatabaseSettings__DatabaseName=catalogdb
      - DatabaseSettings__BrandsCollectionName=Brands
      - DatabaseSettings__TypesCollectionName=Types
      - DatabaseSettings__ProductsCollectionName=Products

  catalogdb:
    image: mongo:latest
    container_name: catalogdb
    ports:
      - "27017:27017"
    volumes:
      - catalogdbdata:/data/db
  basketdb:
    image: redis:alpine
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"
  basket.api:
    image: basket.api:latest
    build:
      context: ../../
      dockerfile: services/basket/Basket.API/Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - basketdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - CacheSettings__ConnectionString=basketdb:6379
      - GRPCSettings__DiscountUrl=http://discount.api:8080
  discount.api:
    image: discount.api:latest
    container_name: discount.api
    build:
      context: ../../
      dockerfile: services/discount/Discount.API/Dockerfile
    ports:
      - "8082:8080"
    depends_on:
      discountdb:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DatabaseSettings__ConnectionString=Server=discountdb;port=5432;Database=DiscountDb;User Id=postgres;Password=P@ssword123;
      - DatabaseSettings__DatabaseName=DiscountDb
      - DatabaseSettings__DiscountsCollectionName=Discounts
  discountdb:
    image: postgres:16
    container_name: discountdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P@ssword123
      - POSTGRES_DB=DiscountDb
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - discountdbdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=P@ssword123
    depends_on:
      - discountdb
    volumes:
      - pgadmin_data:/root/.pgadmin
volumes:
  catalogdbdata:
    driver: local
  discountdbdata:
    driver: local
  pgadmin_data:
    driver: local
